.nav-menu {
  width: 100%;
  position: absolute;

  &__menu {
    display: flex;
    justify-content: space-between;
    padding: 56px 56px 0 96px;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;

    &-button {
      background-color: transparent;
      border: 0;

      &,
      &--close {
        cursor: pointer;
      }

      &--close {
        place-self: flex-end;
        padding: 0;
      }
    }

    &-items {
      background-color: $color-neutral-dark;
      flex-direction: column;
      padding: $spacing-md;
      border: 0;
      display: none;
      position: absolute;
      right: 18px;
      top: 20px;
      width: 214px;
      max-height: 440px;
      overflow-y: auto;
      word-break: break-word;

      &:last-child {
        padding-bottom: 0;
      }

      ul li {
        list-style-type: none;
        margin: 48px 0;
        a {
          color: $color-neutral-white;
          text-decoration: none;
          font-weight: 700;
          font-size: 20px;
        }
      }
    }

    @media screen and (max-width: 992px) {
      &-logo,
      &-button img {
        height: auto;
      }

      &-logo {
        width: 135px;
      }

      &-button img {
        width: 30px;
      }

      &-items {
        ul li a {
          font-size: 16px;
        }
      }
    }

    @media screen and (max-width: 1180px) {
      padding: 24px;
    }
  }
}
