// Primary colors
$color-primary-darker-blue: #081523;
$color-primary-dark-blue: #091523;
$color-primary-blue: #0e253f;
$color-primary-light-blue: #0262f0;
$color-primary-light-green: #01fdab;

// Neutral colors
$color-neutral-dark: #010203;
$color-neutral-white: #ffffff;
