@import "styles/reset";
@import "styles/tokens";
@import "styles/typography";
@import "styles/components";
@import "styles/pages";

/** Global CSS */
*,
body {
  font-family: $font-family-base;
}

.container {
  @media screen and (max-width: 1180px) {
    padding-left: 24px;
    padding-right: 24px;
  }
}
